# Posibles Dataset

## Dataset 1: Propiedades en Estados Unidos

Este dataset de 21.613 filas y 23 columnas contiene datos de propiedades en estados unidos. Contiene información sobre los precios de las propiedades y sus características, tales como tamaño, número de habitaciones y baños, año construido, condición, entre otros.

Con estos datos se podría realizar un modelo estimador de precios de propiedades (problema de regresión).

In [24]:
import pandas as pd

# Cargar el dataset desde un archivo CSV
df = pd.read_csv('Housing dataset.csv', delimiter = ';')

# Imprimir las primeras 5 filas del dataset
print(df.head())

           id             date     price  bedrooms  bathrooms  sqft_living  \
0  7229300521  20141013T000000  231300.0         2       1.00         1180
1  6414100192  20141209T000000  538000.0         3       2.25         2570
2  5631500400  20150225T000000  180000.0         2       1.00          770
3  2487200875  20141209T000000  604000.0         4       3.00         1960
4  1954400510  20150218T000000  510000.0         3       2.00         1680

   sqft_lot  floors  waterfront  view  ...  grade  sqft_above  sqft_basement  \
0      5650     1.0           0     0  ...      7        1180              0
1      7242     2.0           0     0  ...      7        2170            400
2     10000     1.0           0     0  ...      6         770              0
3      5000     1.0           0     0  ...      7        1050            910
4      8080     1.0           0     0  ...      8        1680              0

   yr_built  yr_renovated  zipcode      lat     long  sqft_living15  \
0      1955             0    98178  47.5112 -122.257           1340
1      1951          1991    98125  47.7210 -122.319           1690
2      1933             0    98028  47.7379 -122.233           2720
3      1965             0    98136  47.5208 -122.393           1360
4      1987             0    98074  47.6168 -122.045           1800

   sqft_lot15
0        5650
1        7639
2        8062
3        5000
4        7503

[5 rows x 21 columns]

In [22]:
# Mostrar información sobre el dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21613 non-null  int64
 1   date           21613 non-null  object
 2   price          21613 non-null  float64
 3   bedrooms       21613 non-null  int64
 4   bathrooms      21613 non-null  float64
 5   sqft_living    21613 non-null  int64
 6   sqft_lot       21613 non-null  int64
 7   floors         21613 non-null  float64
 8   waterfront     21613 non-null  int64
 9   view           21613 non-null  int64
 10  condition      21613 non-null  int64
 11  grade          21613 non-null  int64
 12  sqft_above     21613 non-null  int64
 13  sqft_basement  21613 non-null  int64
 14  yr_built       21613 non-null  int64
 15  yr_renovated   21613 non-null  int64
 16  zipcode        21613 non-null  int64
 17  lat            21613 non-null  float64
 18  long           21613 non-null  float64
 19  sqft_living15  21613 non-null  int64
 20  sqft_lot15     21613 non-null  int64
dtypes: float64(5), int64(15), object(1)
memory usage: 3.5+ MB

## Dataset 2: Admisibilidad de tarjeta de crédito

Este dataset de 9.709 filas y 20 columnas contiene datos sobre potenciales clientes de un banco y si estos son elegibles para optar por una tarjeta de crédito. Contiene datos como ingresos, edad, tipo de educación, situación familiar, situación laboral, etc.

Con estos datos se podría realizar un modelo clasificador de admisibilidad de potenciales clientes del banco(problema de clasificación binaria).

In [25]:
import pandas as pd

# Cargar el dataset desde un archivo CSV
df = pd.read_csv('Credit Eligibility dataset.csv', delimiter = ';')

# Imprimir las primeras 5 filas del dataset
print(df.head())

        ID  Gender  Own_car  Own_property  Work_phone  Phone  Email  \
0  5008804       1        1             1           1      0      0
1  5008806       1        1             1           0      0      0
2  5008808       0        0             1           0      1      1
3  5008812       0        0             1           0      0      0
4  5008815       1        1             1           1      1      1

   Unemployed  Num_children  Num_family  Account_length  Total_income  \
0           0             0           2              15      427500.0
1           0             0           2              29      112500.0
2           0             0           1               4      270000.0
3           1             0           1              20      283500.0
4           0             0           2               5      270000.0

                      Age          Years_employed           Income_type  \
0   3.286.857.361.889.700  12.435.573.625.741.800               Working
1   5.879.381.506.807.120  31.047.865.459.249.600               Working
2   5.232.140.290.355.030   8.353.354.278.321.930  Commercial associate
3  61.504.343.004.989.800                     0.0             Pensioner
4     461.939.670.219.101  21.054.504.883.741.600               Working

                  Education_type         Family_status       Housing_type  \
0               Higher education        Civil marriage   Rented apartment
1  Secondary / secondary special               Married  House / apartment
2  Secondary / secondary special  Single / not married  House / apartment
3               Higher education             Separated  House / apartment
4               Higher education               Married  House / apartment

  Occupation_type  Target
0           Other       1
1  Security staff       0
2     Sales staff       0
3           Other       0
4     Accountants       0

In [26]:
# Mostrar información sobre el dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9709 entries, 0 to 9708
Data columns (total 20 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID               9709 non-null   int64
 1   Gender           9709 non-null   int64
 2   Own_car          9709 non-null   int64
 3   Own_property     9709 non-null   int64
 4   Work_phone       9709 non-null   int64
 5   Phone            9709 non-null   int64
 6   Email            9709 non-null   int64
 7   Unemployed       9709 non-null   int64
 8   Num_children     9709 non-null   int64
 9   Num_family       9709 non-null   int64
 10  Account_length   9709 non-null   int64
 11  Total_income     9709 non-null   float64
 12  Age              9709 non-null   object
 13  Years_employed   9709 non-null   object
 14  Income_type      9709 non-null   object
 15  Education_type   9709 non-null   object
 16  Family_status    9709 non-null   object
 17  Housing_type     9709 non-null   object
 18  Occupation_type  9709 non-null   object
 19  Target           9709 non-null   int64
dtypes: float64(1), int64(12), object(7)
memory usage: 1.5+ MB

## Dataset 3: Factores que influyen en notas de estudiantes

Este dataset de 10.074 filas y 35 columnas contiene datos de los factores que influyen en las notas de los estudiantes universitarios,tales como tiempo de estudio, asistencia, participación, nivel de interés y participación, edad, entre otros.

Con estos datos se podría realizar un modelo predictor de notas de estudiantes (problema de clasificación de tres clases (nota A, B o C)).

In [30]:
import pandas as pd

# Cargar el dataset desde un archivo CSV
df = pd.read_csv('Factors_ affecting_ university_student_grades_dataset.csv', delimiter = ';')

# Imprimir las primeras 5 filas del dataset
print(df.head())

    Age Gender Parental_Education Family_Income Previous_Grades  Attendance  \
0  22.0      F            College         50000               A        81.0
1  21.0      M                NaN         60000               A         NaN
2  19.0      M            College         75000               C        93.0
3  21.0      M            College         60000               A        86.0
4  19.0    NaN                NaN         40000             NaN        89.0

  Class_Participation  Study_Hours     Major School_Type  ... Peer_Group  \
0              Medium          8.0       Law     Private  ...    Neutral
1              Medium         12.0       Law      Public  ...   Negative
2              Medium         12.0       Law     Private  ...    Neutral
3                 Low         15.0  Business      Public  ...    Neutral
4                High         15.0  Medicine         NaN  ...   Positive

  Bullying Study_Space Learning_Style Tutoring Mentoring Lack_of_Interest  \
0      NaN          No         Visual      Yes       NaN              Low
1       No          No       Auditory      Yes       Yes           Medium
2       No         Yes            NaN       No        No              Low
3       No         NaN       Auditory      Yes       Yes              Low
4       No          No       Auditory      Yes       NaN           Medium

  Time_Wasted_on_Social_Media  Sports_Participation Grades
0                         2.0                   NaN      B
1                         5.0                  High    NaN
2                         2.0                  High      A
3                         3.0                Medium      C
4                         3.0                  High      B

[5 rows x 35 columns]

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10064 entries, 0 to 10063
Data columns (total 35 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Age                          9099 non-null   float64
 1   Gender                       9085 non-null   object
 2   Parental_Education           9102 non-null   object
 3   Family_Income                9097 non-null   object
 4   Previous_Grades              9120 non-null   object
 5   Attendance                   9060 non-null   float64
 6   Class_Participation          9098 non-null   object
 7   Study_Hours                  9073 non-null   float64
 8   Major                        9136 non-null   object
 9   School_Type                  9115 non-null   object
 10  Financial_Status             9129 non-null   object
 11  Parental_Involvement         9118 non-null   object
 12  Educational_Resources        9129 non-null   object
 13  Motivation                   9094 non-null   object
 14  Self_Esteem                  9152 non-null   object
 15  Stress_Levels                9145 non-null   object
 16  School_Environment           9106 non-null   object
 17  Professor_Quality            9114 non-null   object
 18  Class_Size                   9114 non-null   float64
 19  Extracurricular_Activities   9159 non-null   object
 20  Sleep_Patterns               9048 non-null   float64
 21  Nutrition                    9087 non-null   object
 22  Physical_Activity            9090 non-null   object
 23  Screen_Time                  9120 non-null   float64
 24  Educational_Tech_Use         9071 non-null   object
 25  Peer_Group                   9145 non-null   object
 26  Bullying                     9089 non-null   object
 27  Study_Space                  9057 non-null   object
 28  Learning_Style               9080 non-null   object
 29  Tutoring                     9133 non-null   object
 30  Mentoring                    9118 non-null   object
 31  Lack_of_Interest             9136 non-null   object
 32  Time_Wasted_on_Social_Media  9137 non-null   float64
 33  Sports_Participation         9108 non-null   object
 34  Grades                       9024 non-null   object
dtypes: float64(7), object(28)
memory usage: 2.7+ MB